<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/mainLayout}">

<head>
<title>Cadastro de Perfis</title>
</head>



<section layout:fragment="conteudo">
	<div class="card-conteudo grid-conteudo">
		<div class="img-form">
			<img alt=""
				src="https://image.freepik.com/vetores-gratis/ilustracao-do-conceito-de-juiz_114360-2189.jpg"
				width="100%">
		</div>
	<h1 style="text-align: center;" th:text="${vara.id} ? 'Editar de Vara' : 'Cadastro de Varas'"></h1>
	
		<form  th:action="@{/varas}" method="post"
			style="margin: 40px;" th:object="${vara}">
					<div th:replace="layout/fragments/AlertErro :: alertErro"></div>
			<input type="hidden" th:field="*{id}" />
			<div class="form-column">
				<p>Nome da Vara:</p>
				<input type="text" style="width: 100%" th:field="*{nome}">
			</div>
			<div class="form-group">
				<div class="form-column">
					<p>UF:</p>
					<select id="comboUf" onchange="getComboCidade(comboUf)" name="uf">
						<option value="0">Selecione a Estado</option>
						<option th:if="${vara.cidade}" th:each="uf : ${ufs}"
							th:value="${uf.id}" th:text="${uf.nome_uf}"
							th:selected="${#lists.contains(vara.cidade.estados,uf)}" />
						<option th:unless="${vara.cidade}" th:each="uf : ${ufs}"
							th:value="${uf.id}" th:text="${uf.nome_uf}" />
					</select>
				</div>
				<div class="form-column">
					<p>Comarca:</p>
					<select id="comboCidade" name="cidade" th:field="*{cidade}"
						th:disabled="!${vara.cidade}">
						<option th:if="${vara.cidade}" th:value="${vara.cidade.id}"
							th:text="${vara.cidade.nome_municipio}"></option>

					</select>
				</div>
			</div>
			<div class="form-column">
				<p>Entidade:</p>
				<select id="select-entidade" name="entidade" th:field="*{entidade}">
					<option value="0">Selecione a Entidade</option>
					<option th:each="entidade : ${entidades}" th:value="${entidade.id}"
						th:text="${entidade.nome}" />
				</select>
			</div>


			<button type="submit" class="btn btn-primary">Salvar</button>
<!-- 			<button type="submit" th:if="${vara.id}" class="btn btn-danger">excluir</button> -->
		</form>
	</div>

</section>
 <th:block layout:fragment="script">
<script type="text/javascript" src="/js/cidade.js"></script>
</th:block>
</html>